.customInput{
    background-color: #595959;
    border-radius: 35px;
    height: 30px;
    border: 0;
    color: white;
    text-indent: 10px;
}

.customInput::placeholder {
    text-align: right;
    color: white;
    opacity: 0.5;
}

.customInput:focus {
    outline: none !important;
    border: 0;
    box-shadow: 0 0 10px #7e79e0;
}
